@font-face {
	font-family: icomoon;
	src: url(icomoon.eot?bkm7nh#iefix) format("embedded-opentype"), url(icomoon.ttf?bkm7nh) format("truetype"), url(icomoon.woff?bkm7nh) format("woff"), url(icomoon.svg?bkm7nh#icomoon) format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^='icon-'] {
	text-transform: none; line-height: 1; font-family: "icomoon" !important; font-style: normal; font-variant: normal; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; speak: none;
}
[class*=' icon-'] {
	text-transform: none; line-height: 1; font-family: "icomoon" !important; font-style: normal; font-variant: normal; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; speak: none;
}
.icon-angle-right::before {
	content: "\e900";
}
.icon-angle-left::before {
	content: "\e901";
}
.icon-folder-open::before {
	content: "\e930";
}
.icon-price-tag::before {
	content: "\e935";
}
.icon-price-tags::before {
	content: "\e936";
}
.icon-envelop::before {
	content: "\e945";
}
.icon-bubble::before {
	content: "\e96b";
}
.icon-bubbles::before {
	content: "\e96c";
}
.icon-bubbles2::before {
	content: "\e96d";
}
.icon-bubble2::before {
	content: "\e96e";
}
.icon-bubbles3::before {
	content: "\e96f";
}
.icon-bubbles4::before {
	content: "\e970";
}
.icon-user::before {
	content: "\e971";
}
.icon-users::before {
	content: "\e972";
}
.icon-search::before {
	content: "\e986";
}
.icon-lock::before {
	content: "\e98f";
}
.icon-equalizer::before {
	content: "\e992";
}
.icon-equalizer2::before {
	content: "\e993";
}
.icon-menu::before {
	content: "\e9bd";
}
.icon-eye::before {
	content: "\e9ce";
}
.icon-plus::before {
	content: "\ea0a";
}
.icon-minus::before {
	content: "\ea0b";
}
.icon-cross::before {
	content: "\ea0f";
}
.icon-circle-up::before {
	font-family: FontAwesome; content: "\f106";
}
.icon-circle-right::before {
	font-family: FontAwesome; content: "\f105";
}
.icon-circle-down::before {
	font-family: FontAwesome; content: "\f107";
}
.icon-circle-left::before {
	font-family: FontAwesome; content: "\f104";
}
.icon-filter::before {
	content: "\ea5b";
}
.icon-share2::before {
	content: "\ea82";
}
.icon-facebook::before {
	content: "\ea90";
}
.icon-twitter::before {
	content: "\ea96";
}
.icon-rss::before {
	content: "\ea9b";
}
.icon-youtube::before {
	content: "\ea9d";
}
.icon-linkedin2::before {
	content: "\eaca";
}
